*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f09af;
    background-image: linear-gradient(90deg, #1f09af 0%, #FC00FF 100%);
}

.card
{
    width: 30rem;
    height: fit-content;
    color: white;
    background: rgb(12, 7, 7);
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card h2
{
    color: #FF69B4;
    font-weight: 600;
    font-size: 2.5rem;
}

.questions_dropdown , .timer_dropdown
{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.submit_btn
{
    background-color: #FF69B4;
    padding: 0.85rem 1rem;
    text-align: center;
    align-self: center;
    width: 10rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.submit_btn:hover
{
    background-color: #ff69b47c;
}

.dropdown
{
    width: 25rem;
    padding: 0.75rem 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 400;
}

.label
{
    font-size: 1.15rem;
    font-weight: 400;
}

#questions_card
{
    display: none;
}

.content
{
    display: flex;
    justify-content: space-between;
}

.content h3
{
    font-size: 1.5rem;
    color: #FF69B4;
    font-weight: bold;
}

.question
{
    font-size: 1.5rem;
    font-weight: 400;
}

.options
{
    list-style-type: upper-alpha;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 0.15rem;
    font-size: 1.25rem;
}

.options li
{
    border: 2.5px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

#result_card 
{
    display: none;
    text-align: center;
}

#result_card h1
{
    font-size: 2rem;
    color: #FF69B4;
}

#result_card h2
{
    font-size: 2rem;
}